.custom-multiselect-style .p-multiselect-label {
    width: 100% !important;
    font-weight: bold;
}

.p-multiselect {
    width: 100% !important;
}

.custom-multiselect-style .p-multiselect-trigger {
    background-color: #f0f0f0;
    border-color: #ccc;
}

.custom-multiselect-style .p-multiselect-trigger:hover {
    background-color: #e0e0e0;
    border-color: #999;
}


::ng-deep .custom-multiselect-style .p-multiselect {
    width: 100% !important;
}

::ng-deep .custom-multiselect-style .p-multiselect-label {
    width: 100% !important;
    font-weight: 200;
}

::ng-deep .custom-multiselect-style .p-multiselect-trigger {
    background-color: white;
    border-color: #ccc;
}

::ng-deep .custom-multiselect-style .p-multiselect-trigger:hover {
    background-color: #e0e0e0;
    border-color: #999;
}
.btn-green-hover:hover {
  background-color: #28a745 !important; // green
  color: white !important;
}

.btn-yellow-hover:hover {
  background-color: #ffc107 !important; // yellow
  color: #212529 !important;
}

.btn-grey-hover:hover {
  background-color: #6c757d !important; // dark grey
  color: white !important;
}
