.menu_btn{
    background: none;
    border: none;
}
::ng-deep .modal-dialog {
    max-width: 1000px !important; 
}
.card{
   margin-bottom: 0;
}
input[type=checkbox] {
   width: 25px;
   height: 25px;
}

body .ui-widget{
    font-size: 12px !important;
  }
  .btn-icon-only{
    width: 1.5rem;
  }
  .btn-icon-only i {
    font-size:10px
  }

  .modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}
::ng-deep .data-entry .modal-dialog {
    max-width: 1400px !important;
}

::ng-deep .data-entry .modal .modal-content .card {
    margin: 0;
    padding: 1rem 0;
}
.no-wrap-text {
    white-space: nowrap;
  }