ng-dropdown-panel {
  background-color: #fff !important;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1055 !important;
}

ng-dropdown-panel .ng-dropdown-panel-items {
  background-color: #fff !important;
}

ng-dropdown-panel .ng-option {
  background-color: #fff;
  color: #000;
}

ng-dropdown-panel .ng-option:hover {
  background-color: #f0f0f0;
}


/* .custom-modal-width {
  max-width: 900px;
  width: 150%;
  margin: auto;
} */

::ng-deep .custom-modal-width .modal-dialog {
  max-width: 1000px; /* Set your desired width */
  width: 95%;
}

::ng-deep .custom-modal-width .modal-dialog {
  margin: 1.75rem auto;
}
.tooltip-pointer {
  cursor: pointer;
}


::ng-deep .custom-ng-select {
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background-color: #fff;
  
}
.btn-close-batch:hover {
background-color: #0A424A !important; /* Yellow */
color: white !important;
}
    







