<div class="header pb-6">
    <div class=" container-fluid">
      <div class=" header-body">
        <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
            <!-- <h6 class=" h2 text-white d-inline-block mb-0">Branch-Mapping</h6> -->
  
            <nav
              aria-label="breadcrumb"
              class=" d-none d-md-inline-block ml-md-4"
            >
              <ol class=" breadcrumb">
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> <i class=" fas fa-home" routerLink="/search/quick-search"> </i> </a>
                </li>
  
                <li class=" breadcrumb-item">
                  <a href="javascript:void(0)"> Master </a>
                </li>
  
                <li aria-current="page" class=" breadcrumb-item active">
                 Crown Branch-Mapping
                </li>
              </ol>
            </nav>
          </div>
  
          <div class=" col-lg-6 col-5 text-right">
            <a class=" btn btn-sm btn-neutral" (click)="addBranchMapping(BranchMappingFormPopup)">Add Branch Mapping</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class=" container-fluid mt--6">
    <div class=" row">
      <div class=" col">
        <div class=" card">
          <div class=" card-header">
            <h3 class=" mb-0">All Crown Branch Mappings</h3>
            <p class=" text-sm mb-0"></p>
          </div>
          <div class="dataTables_wrapper checklist-table w-100">
               
            <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first" (onPage)="paginate($event)" [loading]="loading" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="caption">
                  
                  <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)" class="global-search search">
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                     
                      <th *ngFor="let col of headerList; let i = index;"  [ngStyle]="i==0 && {'width': '5%'}">
                          {{col.header}}
                          <p-sortIcon *ngIf="i==10" [field]="col.field"></p-sortIcon>
                      </th>
                      <th style="width: 10%;">
                        ACTION
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                  <tr>
                     
                      <td *ngFor="let col of headerList">
                        {{car[col.field]}}
                      </td>
                        <td>
                          <button type="button" style="padding:0 0 5px 4px" class="btn btn-icon btn-icon-only" (click)="editBranchMapping(BranchMappingFormPopup,car)">
                            <span class="btn-inner--icon"><i class="fa fa-pen"></i></span>
                          </button>
                          <button type="button" style="padding:0 0 5px 1px" class="btn btn-icon btn-icon-only" (click)="deleteBranch(car)">
                            <span class="btn-inner--icon"><img src="assets/img/icons/delete.svg"></span>
                          </button>
                        </td> 
                  </tr>
              </ng-template>
          </p-table>
                           
  
          </div>
  
  
          <!-- <div class="dataTables_wrapper py-4">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="dataTables_length" id="datatable_length">
                  <label>
                    Show
                    <select
                      name="datatable_length"
                      aria-controls="datatable"
                      class="form-control form-control-sm"
                      (change)="entriesChange($event)"
                    >
                      <option value="10" [selected]="entries == 10">10</option>
                      <option value="25" [selected]="entries == 25">25</option>
                      <option value="50" [selected]="entries == 50">50</option>
                      <option value="-1" [selected]="entries == -1">All</option>
                    </select>
                    entries
                  </label>
                </div>
              </div>
              <div class=" col-sm-12 col-md-4">
                <form [formGroup]="BranchMappingForm">
                <div class="dataTables_length" id="datatable_length">
                <label class=" form-control-label" for="UserIDS">
                  User
                <select class="form-control form-control-sm" formControlName="UserIDS" data-toggle="select" id="UserID"
                (change)="geBranchListByUserID($event.target.value)">
                  <option value="0"> Select User</option>
                  <option *ngFor="let _User of _UserL" [value]="_User.id"  >
                    {{_User.userid}}
                    </option>
                </select>
              </label>
                </div>
                </form>
              </div>
              <div class="col-sm-12 col-md-4">
                <div id="datatable_filter" class="dataTables_filter">
                  <label>
                    <input
                      type="search"
                      class="form-control form-control-sm"
                      placeholder="Search records"
                      aria-controls="datatable"
                      (keyup)="filterTable($event)"
                    />
                  </label>
                </div>
              </div>
            </div>
  
            <ngx-datatable
            *ngIf="_FilteredList"
              class="material"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="_FilteredList"
              (activate)="onActivate($event)"
            >
              <ngx-datatable-column name="SrNo">
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="UserName">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.UserName}}</ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Folder">
                <ng-template let-row="row" ngx-datatable-cell-template>{{row.BranchName}}</ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Action" sortable="false" prop="id">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <button type="button" style="padding:0 0 5px 4px" class="btn btn-icon btn-warning btn-icon-only rounded-circle" (click)="editBranchMapping(BranchMappingFormPopup,row.UserID)">
                    <span class="btn-inner--icon"><i class="fa fa-edit"></i></span>
                  </button>
                  <button type="button" style="padding:0 0 5px 1px" class="btn btn-icon btn-icon-only rounded-circle" (click)="deleteBranch(value)">
                    <span class="btn-inner--icon"><img src="assets/img/icons/delete.svg"></span>
                  </button>
            </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #BranchMappingFormPopup let-c="close" let-d="dismiss" let-modal>
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class=" card">
          <div class=" card-header"><h3 class=" mb-0">Add Branch Mapping</h3></div>
  
          <div class="card-body">
            <form class="needs-validation" novalidate="" [formGroup]="AddBranchMappingForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label class="form-control-label" for="UserID">
                    User
                  </label>
                  <select class="form-control form-control-sm" formControlName="UserID" data-toggle="select" id="UserID"
                  (change)="getBranchForUser($event.target.value)">
                    <option value="0"> Select User</option>
                    <option *ngFor="let _User of _UserL" [value]="_User.id"  >
                      {{_User.userid}}
                      </option>
                  </select>
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <ul class=" list-group list-group-flush" data-toggle="checklist" >
                    <li class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                    >
                    <div class=" checklist-item checklist-item-success">
                      <div
                        class=" custom-control custom-checkbox custom-checkbox-success"
                      >
                        <input
                          class=" custom-control-input"
                          type="checkbox"
                          id="_checkAllID"
                          (change)="master_change()"
                          formControlName="selectAll"
                          [value]="AddBranchMappingForm.get('selectAll').value"
                        />
                        <label class=" custom-control-label" for="_checkAllID">
                          <div class=" checklist-info">
                            <h3 class=" checklist-title mb-0">{{AddBranchMappingForm.get('selectAll').value?'Unselect ':'Select '}}All</h3>
                          </div>
                        </label>
                      </div>
  
                  </div>
                    </li>
                    <ng-container formArrayName="checklist"> 
                      <li *ngFor="let listItem of checklistArray.controls,let i=index"
                      class=" checklist-entry list-group-item flex-column align-items-start py-4 px-4"
                    >
                      <div class=" checklist-item checklist-item-success" >
                          <div
                            class=" custom-control custom-checkbox custom-checkbox-success"
                            [formGroupName]="i">
                            <input
                              formControlName="ischecked"
                              [value]="listItem.get('ischecked').value"
                              class=" custom-control-input"
                              type="checkbox"
                              [id]="i"
                            />
                            <label class=" custom-control-label" [for]="i">
                              <div class=" checklist-info">
                                <h3 class=" checklist-title mb-0">{{listItem.get('BranchName').value}}</h3>
                              </div>
                            </label>
                          </div>
  
                      </div>
                    </li>
                       </ng-container>
                    
                  </ul>
                </div>
              </div>
              <button class=" btn btn-primary" type="submit">
                Submit
              </button>
              <button type="button" class="btn btn-warning" (click)="OnReset()">Close</button>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-template>