.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}
::ng-deep .data-entry .modal-dialog {
    max-width: 1000px !important;
}

::ng-deep .data-entry .modal .modal-content .card {
    margin: 0;
    padding: 1rem 0;
}
.red-close {
    filter: invert(21%) sepia(89%) saturate(7499%) hue-rotate(1deg) brightness(106%) contrast(119%);
}

.btn.btn-sm.btn-neutral {
  background: #fff;
  color: #005984;
  padding: 10px 15px;
  border: 1px solid #005984;
}

.btn.btn-sm.btn-neutral:hover {
  color: #005984;
  background-color: #fff;
}

.btn-approve-hover:hover {
  background-color: #28a745 !important; /* Bootstrap success green */
  color: white !important;
}

.btn-reject-hover:hover {
  background-color: #dc3545 !important; /* Bootstrap danger red */
  color: white !important;
}
 
.status-badge { //gkj 01-08 below css
  display: inline-block;
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
 
.status-accepted {
  background-color: #4caf50; /* green */
}
 
.status-review {
  background-color: #ffc107; /* yellow */
  color: #333;
}
 
.status-query {
  background-color: #f44336; /* red */
}
 
.status-rejected {
  background-color: #e53935; /* dark red */
}
 
.status-incomplete {
  background-color: #9e9e9e; /* grey */
}
 
.status-offered {
  background-color: #2196f3; /* blue */
}
 
.status-ntu {
  background-color: #ff5252; /* pinkish red */
}
 
.status-default {
  background-color: #607d8b; /* fallback grey-blue */
}
 
.status-ack {
  background-color: #673ab7; /* purple */
}
 
.status-scheduled {
  background-color: #ff9800; /* orange */
}
 
.status-partial-ack {
  background-color: #00bcd4; /* cyan */
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2000; /* Higher than ngx-bootstrap modal (1050-1080) */
  pointer-events: all; /* To block interaction */
}
.site-container {
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100vh;
  background: #f1f1f1;
  overflow: hidden;

  .site-header {
    height: 64px;
  }

  .site-content {
    height: calc(100vh - 65px);
    padding: 0 15px;
    overflow: auto;
  }
}

 