<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
          <div class=" col-lg-6 col-7">
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4" style="margin-top: 10px;">
            <ol class=" breadcrumb breadcrumb-links">
              <li class=" breadcrumb-item">
                <a href="javascript:void(0)">
                  <i class="fas fa-home" routerLink="/search/quick-search">
                  </i>
                </a>
              </li>
              <li aria-current="page" class=" breadcrumb-item active">
                {{Role}}
              </li>
            </ol>
          </nav>
        </div>

      <style>
  .btn-close-batch:hover {
    background-color: #0A424A !important;
    color: white !important;
  }
</style>

<div class="col-lg-6 col-5 text-right">
  <a class="btn btn-sm btn-neutral btn-close-batch" (click)="OnBack()">Back</a>
</div>
      </div>
    </div>
  </div>
</div>
<div class=" container-fluid mt--6">
  <div class=" row">
    <div class="col-md-12">
      <div class="card">
      
        <div class="card-body">
        
          <form class="needs-validation" novalidate=""  [formGroup]="AddRoleForm">
            
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group">
                  <label class="form-control-label" for="Role Name">Role Name</label>
                  <input type="text" class="form-control" id="roleName" formControlName="roleName" placeholder="Role Name" value="Mark" required />
                </div>
              </div>
              <div class="col-md-6 mb-3">
                
                  <label class="form-control-label" for="remarks">Remarks</label>
                  <input type="text" class="form-control" id="remarks" formControlName="remarks" placeholder="Remark" value="Mark" required />
              
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">

                <div style="border-top: 2px solid rgb(131, 131, 241);"  class="card card-pricing bg-secondary">
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-control-label" for="remarks">Pages</label>
                    
                      <div class="col-sm-10">
                        <button class="btn btn-outline-default btn-round"><input type="checkbox" formControlName="SelectAll"  (change)="OnSelectAll()" [value]=""> Select All</button>
      
                        <!-- <div class="well">
                            <label>Pages</label>
                            <ul style="list-style-type:none">
                          
                                <li ng-repeat="parent_page in parent_pages | filter : {parent_id:0}">
                                    <input type="checkbox" ng-model="parent_page.checked" ng-true-value="{{parent_page.id}}" ng-false-value="''">
                                    {{parent_page.page_name}}
                                    <ul style="list-style-type:none">
                                        <li ng-repeat="child_page in child_pages | filter : {parent_id : parent_page.id } : true">
                                            <input type="checkbox" ng-model="child_page.checked" ng-true-value="{{child_page.id}}" ng-false-value="''">
                                            {{child_page.page_name}}</li>
                                    </ul>
                                </li>
      
                            </ul>
                        </div> -->
      
                        <ul style="list-style: none;" formArrayName="Roles">
                            <li *ngFor="let role of roles.controls,let i=index" >
                                <ng-container [formGroupName]="i">
                                    <input  type="checkbox" formControlName="isChecked" [value]="role.get('isChecked').value" (click)="onCheckParent(role)"><span> {{role.get('page_name').value}}</span>  
                                    <ul style="list-style: none;" formArrayName="subItems">
                                        <li *ngFor="let subRole of role.get('subItems').controls,let j=index">
                                            <ng-container [formGroupName]="j">
                                                <input type="checkbox" formControlName="isChecked" [value]="subRole.get('isChecked').value" (click)="onCheckChild(role)"><span > {{subRole.get('page_name').value}}  </span>  
                                            </ng-container>       
                                        </li>
                                    </ul>
                                </ng-container>
                            </li>
                        </ul>
      
                    </div>
                    </div> 
                  </div>
                </div>
              </div>
  
              <div  class="col-md-6 mb-3">
                <div style="border-top: 2px solid rgb(131, 131, 241);" class="card card-pricing bg-secondary">
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-control-label " for="remarks">Right</label>
                  
                      <div class="col-sm-10">
                        <button class="btn btn-outline-default btn-round">
                          <input type="checkbox" formControlName="SelectAllRights"  (change)="OnSelectRightAll()" [value]=""> Select All
                        </button>                  
                        <ul  style="list-style: none;" formArrayName="_PageRight">
                            <li *ngFor="let right of _PageRight.controls,let i=index" >
                                <ng-container [formGroupName]="i">
                                    <input type="checkbox" formControlName="isChecked" [value]="right.get('isChecked').value"><span > {{right.get('page_right').value}}</span>                             
                                </ng-container>
      
                            </li>
                        </ul>
      
                    </div>
                    </div>
                    </div>
                </div>
              </div>
            </div>
              <div>        
                <button class=" btn btn-outline-success" (click)="onSubmit()">Submit</button>
                <button class=" btn btn-outline-danger"  (click)="OnBack()">Close</button>
            </div> 
  
          </form>
        </div>
      
  
      </div>
    </div>

  </div>
</div>