<div class="header pb-6">
  <div class=" container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
      <div class=" col-lg-6 col-7">
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4" style="margin-top: 10px;">
            <ol class=" breadcrumb breadcrumb-links">
              <li class="breadcrumb-item">
                <a class="text-gray" [routerLink]="'/dashboards/dashboard'">
                  <i class="fas fa-home"></i>
                </a>
              </li>
              <li aria-current="page" class=" breadcrumb-item active">
                Change Password 
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class=" container-fluid mt--6">
    <div class=" row">
      <div class=" col">
            <div class="card-body" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
              <form  class="needs-validation" novalidate="" [formGroup]="changepasswordform" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class=" col-md-2 mb-3">
                    <label class=" form-control-label" for="currentpwd">
                      Current Password
                    </label>
                  </div>
                  <div class="col-md-4 mb-3">
<input [type]="showCurrentPwd ? 'text' : 'password'" name="currentpwd" id="currentpwd" formControlName="currentpwd"
      required placeholder="Current Password" class="form-control">
   <i class="fa" [ngClass]="showCurrentPwd ? 'fa-eye' : 'fa-eye-slash'" (click)="toggleCurrentPwd()"
      style="position: absolute; top: 10px; right: 15px; cursor: pointer;"></i>                    
                    <div  class="errorMsg-feedback" *ngIf="f.currentpwd.touched && f.currentpwd.hasError('required')">Current Password Required</div>
                    
                  </div>
                </div>

                <div class=" form-row">
                  <div class=" col-md-2 mb-3">
                    <label class=" form-control-label" for="loginPass">
                      New Password
                    </label>
                    </div>
                    <div class="col-md-4 mb-3">
<input [type]="showNewPwd ? 'text' : 'password'" name="pwd" id="loginPass" formControlName="pwd"
      required placeholder="New Password" class="form-control">
   <i class="fa" [ngClass]="showNewPwd ? 'fa-eye' : 'fa-eye-slash'" (click)="toggleNewPwd()"
      style="position: absolute; top: 10px; right: 15px; cursor: pointer;"></i>                    
                    <div  class="errorMsg-feedback" *ngIf="f.pwd.touched && f.pwd.hasError('required')">New Password Required</div>
                    
                    <div  class="errorMsg-feedback"
                    *ngIf="f.pwd.touched && f.pwd.errors">Password should meet the following criteria:
                      <ul>
                        <li>Contain at least 12 characters</li>
                        <li>Contain at least 1 special character</li>
                        <li>Contain at least 1 number</li>
                        <li>Contain at least 1 lowercase character (a-z)</li>
                        <li>Contain at least 1 uppercase character (A-Z)</li>
                      </ul>
                    </div>
                  </div>
                  </div>
                  <div class=" form-row">
                    <div class=" col-md-2 mb-3">
                    <label class=" form-control-label" for="confirmPass">
                      Confirm New Password
                    </label>
                    </div>
                    <div class="col-md-4 mb-3">
<input [type]="showConfirmPwd ? 'text' : 'password'" name="confirmPass" id="confirmPass" formControlName="confirmPass"
      placeholder="Confirm New Password" class="form-control">
    <i class="fa" [ngClass]="showConfirmPwd ? 'fa-eye' : 'fa-eye-slash'"(click)="toggleConfirmPwd()"
      style="position: absolute; top: 10px; right: 15px; cursor: pointer;"></i>                    <div  class="errorMsg-feedback" *ngIf="f.confirmPass.touched && f.confirmPass.hasError('required')">Confirm New Password Required</div>
                    <div  class="errorMsg-feedback" *ngIf="f.confirmPass.touched && f.confirmPass.invalid && f.confirmPass.errors.confirmedValidator" >
                      Password and Confirm Password must be match.</div>
                 
                  </div>
                </div> 
                <!-- <div class="mb-4 form-row">
                  <ngx-recaptcha2 siteKey="6Lf0B58eAAAAAMA9umHGKya6yQprhUXGfumZyvJV" (success)="handleSuccess($event)" [size]="size"
                    [hl]="lang" [theme]="theme" [type]="type" formControlName="recaptcha">
                  </ngx-recaptcha2>
                </div> -->
                <!-- //gkj_25_08 -->
                <button  class="btn btn-outline-success"  [disabled]="!changepasswordform.valid"  type="submit">
                  Submit
                </button>
                <button type="button" class="btn btn-outline-danger" (click)="OnReset()" >Reset</button>
<button type="button" class="btn btn-outline-primary" (click)="OnBack()">Back</button>

                <!-- <button  class="btn btn-primary"  (click) ="sendMail()" type="submit">
                  Send Mail
                </button> -->

              </form>
            </div>
          
      
      </div>
    </div>
  </div>
  
