.btn-green-hover:hover {
  background-color: #28a745 !important; // green
  color: #fff !important;
}

.btn-grey-hover:hover {
  background-color: #6c757d !important; // dark grey
  color: #fff !important;
}

.btn-yellow-hover:hover {
  background-color: #ffc107 !important; // yellow
  color: #000 !important;
}
