.btn.btn-sm.btn-neutral {
  background: #fff;
  color: #005984;
  padding: 10px 15px;
  border: 1px solid #005984;
}
::ng-deep .modal-dialog {
     max-width: 1300px !important; 
}

.btn-green-hover:hover {
  background-color: #28a745 !important; // Green
  color: #fff !important;
}

.btn-grey-hover:hover {
  background-color: #6c757d !important; // Dark Grey
  color: #fff !important;
}

.btn-yellow-hover:hover {
  background-color: #ffc107 !important; // Yellow
  color: #000 !important;
}
