.alert-title.success {
    color: #00ff00 !important;
    /* Change the text color to green or your desired color */
}

.toast-success {
    background-color: #00ff00 !important;
    /* Change the background color to green or your desired color */
    border-color: #00cc00 !important;
    /* Change the border color to a slightly darker shade of green */
}
.custom-width {
    width: 20%; /* Approximate 2.5 out of 12 columns */
}
