    /* #dashboardCardbody{
    padding: 2rem 1.5rem;
}
.bg-black {
    background-color: #2f4050;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
} */
    /* #dashboardCardbody{
    padding: 2rem 1.5rem;
}
.bg-black {
    background-color: #8898aa;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
} */
 
.menu_btn{
    background: none;
    border: none;
}
::ng-deep .modal-dialog {
    max-width: 1500px !important;
}
.card{
   margin-bottom: 0;
}
input[type=checkbox] {
   width: 25px;
   height: 25px;
}
 
body .ui-widget{
    font-size: 12px !important;
  }
  .btn-icon-only{
    width: 1.5rem;
  }
  .btn-icon-only i {
    font-size:10px
  }
  .modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important
}
 
.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}
 
.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}
::ng-deep .data-entry .modal-dialog {
    max-width: 1400px !important;
}
 
::ng-deep .data-entry .modal .modal-content .card {
    margin: 0;
    padding: 1rem 0;
}
   
    @font-face {
        font-family: "Gill Sans Nova Bold";
        src: url("/src/assets/fonts/gill-sans-nova/gill-sans-nova-bold.ttf") format('truetype');
    }
   
    .dashboard {
        width: 100%;
    }
   
    .dashboard h2 {
        font-size: 35px;
        color: #005984;
        font-weight: bold;
        /* border-bottom: 1px solid#b4b4b4; */
        padding: 20px 40px;
    }
   
    .well {
        padding: 20px 40px 0;
    }
   
    .well ul {
        border-bottom: none;
    }
   
    .well ul li a {
        font-size: 22px;
        color: #fadeb5;
        font-weight: bold;
        border-bottom: 1px solid#fadeb5;
        padding: 0 50px 20px;
    }
   
    .well ul li .active {
        color: #fadeb5 !important;
        border-bottom: 1px solid#fadeb5;
    }
   
    #chartdiv {
        width: 100%;
        height: 300px;
    }
   
    .tab-content {
        padding-top: 50px;
    }
   
    .card {
        padding: 20px 25px;
        display: unset;
        width: 100%;
        float: left;
        border-radius: 10px;
    }
   
    .card.status_chart {
        background-color: #fff4f1;
    }
   
    .card_box img {
        width: 12%;
        border-radius: 50%;
        float: left;
    }
   
    .card_box_txt {
        width: 100%;
        padding-left: 75px;
    }
   
    .card_box_txt h3 {
        font-size: 25px !important;
        color: #005984 !important;
        font-weight: bold !important;
        margin-bottom: 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
    .card_box_txt h3 i {
        margin-top: -30px;
    }
   
    .card_box_txt p {
        font-size: 14px !important;
        color: #141c20 !important;
        margin-bottom: 0;
    }
   
    .card h3 {
        font-size: 23px;
        color: #005984;
        font-weight: bold;
        font-family: "Gill Sans Nova";
        margin-bottom: 0;
    }
   
    .card p {
        font-size: 13px;
        color: #c1cce2;
        font-weight: 500;
    }
   
    .send_card_box {
        background-color: #fff7e1;
    }
   
    .license_card {
        filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.04));
        background-image: radial-gradient(circle at center, #005984 0%, #1878a7 100%);
    }
   
    .license_card h4 {
        font-size: 25px;
        color: #ffffff;
        font-weight: bold;
        font-family: "Gill Sans Nova";
    }
   
    .license_card h4 span {
        font-size: 22px;
        float: right;
    }
   
    .task {
        position: relative;
    }
   
    .task::before {
        content: "";
        background-color: #ffe5e5;
        right: -24px;
        top: -28px;
        position: absolute;
        transform: translate(-35%, 40%);
        height: 67px;
        width: 70px;
        border-radius: 0px 10px 0px 67px;
        box-shadow: -8px 8px 5px 10px #ffefef;
    }
   
    .task_dur {
        position: relative;
    }
   
    .task_dur::before {
        content: "";
        background-color: #ffeae4;
        right: -24px;
        top: -28px;
        position: absolute;
        transform: translate(-35%, 40%);
        height: 67px;
        width: 70px;
        border-radius: 0px 10px 0px 67px;
        box-shadow: -8px 8px 5px 10px #fff4f1;
    }
   
    .tasks_blue {
        position: relative;
    }
   
    .tasks_blue::before {
        content: "";
        background-color: #e5e3ff;
        right: -24px;
        top: -28px;
        position: absolute;
        transform: translate(-35%, 40%);
        height: 67px;
        width: 70px;
        border-radius: 0px 10px 0px 67px;
        box-shadow: -8px 8px 5px 10px #f0efff;
    }
   
    #documentControl .card_box img {
        width: 15%;
    }
   
    .missing_documents {
        background-color: #fff7e1;
    }
   
    .missing_documents h1 {
        font-size: 80px;
        color: #005984;
        font-weight: bold;
        font-family: "Gill Sans Nova";
    }
   
    .text_dropdown {
        display: flex;
        justify-content: space-between;
    }
   
    .text_dropdown .dropdown-toggle {
        color: rgb(0 0 0 / 13%);
        background: #fff;
        border: none;
    }
   
    .dropdown-toggle::after {
        display: none;
    }
 
    #ocrStatusChart {
        width: 100%;
        height: 300px;
      }
      #ocrStatusChart1 {
        width: 100%;
        height: 300px;
      }
      #RefillingRequest {
        width: 100%;
        height: 300px;
      }
 
      .login-attempts {
        display: flex;
      }
 
      .last-week-login .label, .total-count .label {
        font-size: 13px;
        color: #005984;
        font-family: 'Gill Sans Nova';
        font-style: normal;
        margin: 0;
      }
 
      .last-week-login .count, .total-count .count {
        font-size: 18px;
        color: #005984;
        font-family: 'Gill Sans Nova';
        font-style: normal;
        font-weight: bold;
      }
 
      .main-count {
        font-size: 60px;
        color: #005984;
        font-family: 'Gill Sans Nova';
        font-style: normal;
        font-weight: bold;
      }
 
      .linear-gradient {
        background: linear-gradient(180deg, #F6A01A 0%, rgba(246, 160, 26, 0) 100%);
        width: 48px;
        height: 48px;
        float: left;
      }
 
      .total-count {
        position: relative;
        margin: 1em 0 3em 0;
      }
 
      .total-count span {
          margin-left: 8px !important;
      }
 
      .total-count img {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 5px;
      }
     
      #filesChart {
        height: 180px;
      }
 
      #chartdiv2 {
        height: 200px;
      }
     
      #downloadUploadChart {
        height: 270px;
      }
 
      #docMetadataChart {
        height: 300px;
      }
 
      #makerCheckedChart {
        height: 300px;
      }
 
      .cursor-pointer {
        cursor: pointer;
      }
      .modal-dialog{
        max-width: 1200px !important;
      }
      .close > span:not(.sr-only){
        font-size: 35px;
        color: red;
      }
      .modal-body{
        padding: 0 35px;
      }
      .card-body{
        padding: 0;
      }
 
      .download-data{
        float: right;
      }
 
      @font-face {
        font-family: "Gill Sans Nova Bold";
        src: url("/src/assets/fonts/gill-sans-nova/gill-sans-nova-bold.ttf") format('truetype');
      }
     
      .dashboard {
        width: 100%;
      }
     
      .dashboard h2 {
        font-size: 35px;
        color: #005984;
        font-weight: bold;
        /* border-bottom: 1px solid#e7e9ee; */
        padding: 20px 40px;
      }
     
      .well {
        padding: 20px 40px 0;
      }
     
      .well ul {
        border-bottom: none;
      }
     
      .well ul li a {
        font-size: 22px;
        color: #818181;
        font-weight: bold;
        border-bottom: 1px solid#ffffff;
        padding: 0 50px 20px;
      }
     
      .well ul li .active {
        color: #ffffff !important;
        border-bottom: 1px solid#ffffff;
      }
     
      #chartdiv {
        width: 100%;
        height: 300px;
      }
     
      .tab-content {
        padding-top: 50px;
      }
     
      .card {
        padding: 20px 25px;
        display: unset;
        width: 100%;
        float: left;
        border-radius: 10px;
      }
     
      .card.status_chart {
        background-color: #fff4f1;
      }
     
      .card_box img {
        width: 20%;
        border-radius: 50%;
        float: left;
      }
     
      .card_box_txt {
        width: 100%;
        padding-left: 75px;
      }
     
      .card_box_txt h3 {
        font-size: 25px !important;
        color: #005984 !important;
        font-weight: bold !important;
        margin-bottom: 0 !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
     
      .card_box_txt h3 i {
        margin-top: -30px;
      }
     
      .card_box_txt p {
        font-size: 14px !important;
        color: #141c20 !important;
        margin-bottom: 0;
      }
     
      .card h3 {
        font-size: 23px;
        color: #005984;
        font-weight: bold;
        font-family: "Gill Sans Nova";
        margin-bottom: 0;
      }
     
      .card p {
        font-size: 13px;
        color: #2e3d5c;
        font-weight: 500;
      }
     
      .send_card_box {
        background-color: #fff7e1;
      }
     
      .license_card {
        filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.04));
        background-image: radial-gradient(circle at center, #005984 0%, #1878a7 100%);
      }
     
      .license_card h4 {
        font-size: 25px;
        color: #ffffff;
        font-weight: bold;
        font-family: "Gill Sans Nova";
      }
     
      .license_card h4 span {
        font-size: 22px;
        float: right;
      }
     
      .task {
        position: relative;
      }
     
      .task::before {
        content: "";
        background-color: #ffe5e5;
        right: -24px;
        top: -28px;
        position: absolute;
        transform: translate(-35%, 40%);
        height: 67px;
        width: 70px;
        border-radius: 0px 10px 0px 67px;
        box-shadow: -8px 8px 5px 10px #ffefef;
      }
     
      .task_dur {
        position: relative;
      }
     
      .task_dur::before {
        content: "";
        background-color: #ffeae4;
        right: -24px;
        top: -28px;
        position: absolute;
        transform: translate(-35%, 40%);
        height: 67px;
        width: 70px;
        border-radius: 0px 10px 0px 67px;
        box-shadow: -8px 8px 5px 10px #fff4f1;
      }
     
      .tasks_blue {
        position: relative;
      }
     
      .tasks_blue::before {
        content: "";
        background-color: #e5e3ff;
        right: -24px;
        top: -28px;
        position: absolute;
        transform: translate(-35%, 40%);
        height: 67px;
        width: 70px;
        border-radius: 0px 10px 0px 67px;
        box-shadow: -8px 8px 5px 10px #f0efff;
      }
     
      #documentControl .card_box img {
        width: 15%;
      }
     
      .missing_documents {
        background-color: #fff7e1;
      }
     
      .missing_documents h1 {
        font-size: 80px;
        color: #005984;
        font-weight: bold;
        font-family: "Gill Sans Nova";
      }
     
      .text_dropdown {
        display: flex;
        justify-content: space-between;
      }
     
      .text_dropdown .dropdown-toggle {
        color: rgb(0 0 0 / 13%);
        background: #fff;
        border: none;
      }
     
      .dropdown-toggle::after {
        display: none;
      }
     
      #ocrStatusChart {
        width: 100%;
        height: 300px;
      }
      #CartonStorageStatus {
        width: 100%;
        height: 300px;
      }
      #ReturnAcknowledgeStatus {
        width: 100%;
        height: 300px;
      }
      #ReturnApprovalStatus {
        width: 100%;
        height: 300px;
      }
      #RetrievalRequestAck {
        width: 100%;
        height: 300px;
      }
      #courierInwardChart {
        width: 100%;
        height: 300px;
      }
 
      #courierInwardChart1 {
        width: 100%;
        height: 300px;
      }
      #CompleteStatus {
        width: 100%;
        height: 300px;
      }
      #MissingChart {
        width: 100%;
        height: 300px;
      }
      #PODStatusChart {
        width: 100%;
        height: 300px;
      }
      #DumpStatusChart {
        width: 100%;
        height: 300px;
      }
     
     
     
      .login-attempts {
        display: flex;
      }
     
      .last-week-login .label, .total-count .label {
        font-size: 13px;
        color: #005984;
        font-family: 'Gill Sans Nova';
        font-style: normal;
        margin: 0;
      }
     
      .last-week-login .count, .total-count .count {
        font-size: 18px;
        color: #005984;
        font-family: 'Gill Sans Nova';
        font-style: normal;
        font-weight: bold;
      }
     
      .main-count {
        font-size: 60px;
        color: #005984;
        font-family: 'Gill Sans Nova';
        font-style: normal;
        font-weight: bold;
      }
     
      .linear-gradient {
        background: linear-gradient(180deg, #F6A01A 0%, rgba(246, 160, 26, 0) 100%);
        width: 48px;
        height: 48px;
        float: left;
      }
     
      .total-count {
        position: relative;
        margin: 1em 0 3em 0;
      }
     
      .total-count span {
          margin-left: 8px !important;
      }
     
      .total-count img {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 15px;
      }
     
      #filesChart {
        height: 180px;
      }
     
      #chartdiv2 {
        height: 200px;
      }
     
      #downloadUploadChart {
        height: 270px;
      }
     
      #docMetadataChart {
        height: 300px;
      }
     
      #makerCheckedChart {
        height: 300px;
      }
     
      .cursor-pointer {
        cursor: pointer;
      }
      .modal-dialog{
        max-width: 1200px !important;
      }
      .close > span:not(.sr-only){
        font-size: 35px;
        color: red;
      }
      .modal-body{
        padding: 0 35px;
      }
      .card-body{
        padding: 0;
      }
     
      .download-data{
        float: right;
      }
      .folder_dropdown{
        border: none;
        background: none;
        font-size: 23px;
        color: #005984;
        font-weight: bold;
        font-family: "Gill Sans Nova";
        outline: none;
      }
      .dropdown-menu li a{
        color: #000 !important;
        font-size: 18px !important;
        border-bottom: none !important ;
      }
      .dropdown-menu li a:hover{
        color:#005984 !important
      }
     
      .box_heanding{
        display: flex;
        justify-content: space-between;
        align-items: self-end;
      }
      .box_heanding h3{
        font-size: 16px;
      }
      .dropdown button{
        font-size: 14px;
      }
      .box{
        /* border: 1px solid #000; */
        height: 200px;
        margin-top: 15px;
        height: 150px;
        margin-bottom: 25px;
        border-radius: 25px!important;
        /* background-color: #fff; */
      }
      .heading{
        font-size: 14px;
        text-align: center;
        padding: 15px;
        border-radius: 25px 25px 0 0;
        background-color: #edfaed; 
        color: #0A424A
      }
 
      .emerald_box{
  background-color: #204c54;
}
      .blue_box{
        background-color: #1F4E78;
      }
      .yellow_box{
        background-color: #FFC000;
      }
      .green_box{
        background-color: #70AD47;
      }
      .orange_box{
        background-color: #ED7D31;
      }
      .box_cantent{
        padding: 10px;
         background-color: #204c54;
         border-radius: 0 0 25px 25px;
      }
      .box_cantent p{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        font-size: 14px;
        color: #edfaed;
 
      }
      .dropdown-toggle::after {
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      }
      .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
     
      .dropdown-toggle .fa-chevron-down {
        margin-right: 8px; /* Adjust spacing as needed */
      }
     
     
      .box_heanding{
        display: flex;
        justify-content: space-between;
        align-items: self-end;
        /* width: 50%; */
        height: auto ;
      }
 
 
button.btn.btn-neutral,
a.btn.btn-sm.btn-neutral {
  background: #fff;
  color: #005984;
  padding: 10px 15px;
  border: 1px solid #005984;
}
button.btn.btn-neutral:hover,
a.btn.btn-sm.btn-neutral:hover {
  color: #005984;
  background-color: #fff;
}
 
 
.Page_color {
 
  /* height: calc(139.5vh) !important; /* Add extra height at the top */
  background-color: #0A424A !important;
}
 
h1.text-white {
  color: #fff !important;
}
 
.refreshbtn {
  color: #0f292e !important;
  background-color: #C9F5D9 !important;
  line-height: 1.2px !important;
  font-family: "Auxilia bold";
}
 
.refreshbtn:hover {  
  color: #0f292e !important;
}
 
 
:host ::ng-deep app-footer {
  background-color: #0A424A;
}
 
.dashboard-footer-bg {
  background-color: #f5f5f5; /* Or whatever color you want */
}

.searchbtn{
  background-color: #fadeb5;
  color: #0A424A;
}

