<br />
<br /><br /><br /><br />
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="retrieval_add_form">
          <form class="needs-validation p-4" [formGroup]="AddFileInwardForm">
            <div class="row mb-3 align-items-center">
              <div class="col-1">
                <label for="BatchID">Batch ID</label>
              </div>
              <div class="col-3">
                <input
                  name="appl"
                  type="text"
                  readonly
                  placeholder="Document Type"
                  type="text"
                  class="form-control"
                  formControlName="batchId"
                />
                <div
                  *ngIf="
                    FormControls['batchId'].invalid &&
                    (FormControls['batchId'].touched || submitted)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="FormControls['batchId'].hasError('required')">
                    * Branch Code is required.
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <div class="col-auto">
                <label for="BatchID">Warehouse</label>
              </div>
              <div class="col-3">
                <select
                  formControlName="warehouseId"
                  class="form-control form-select"
                  [ngClass]="{
                    'is-invalid':
                      FormControls['warehouseId'].invalid &&
                      (FormControls['warehouseId'].touched || submitted)
                  }"
                >
                  <option value="" disabled selected>--Select--</option>
                  <option
                    *ngFor="let i of warehouseDropdown"
                    value="{{ i.value }}"
                  >
                    {{ i.label }}
                  </option>
                </select>
                <div
                  *ngIf="
                    FormControls['warehouseId'].invalid &&
                    (FormControls['warehouseId'].touched || submitted)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="FormControls['warehouseId'].hasError('required')">
                    *Required.
                  </div>
                </div>
              </div>
              <!-- </div> -->
              <div class="col-auto">
                <label for="BatchID">Carton No.</label>
              </div>
              <div class="col-3">
                <input
                  name="appl"
                  type="text"
                  placeholder="Enter Carton No."
                  formControlName="cartonNo"
                  type="text"
                  class="form-control form-control-md"
                  [ngClass]="{
                    'is-invalid':
                      FormControls['cartonNo'].invalid &&
                      (FormControls['cartonNo'].touched || submitted)
                  }"
                />
                <div
                  *ngIf="
                    FormControls['cartonNo'].invalid &&
                    (FormControls['cartonNo'].touched || submitted)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="FormControls['cartonNo'].hasError('required')">
                    *Required.
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <div class="row mb-3">
              <div class="col-1">
                <label for="BatchID">Detail Location</label>
              </div>
              <div class="col-3">
                <input
                  type="text"
                  name="appl"
                  rows="3"
                  formControlName="location"
                  placeholder="Enter Detail Location"
                  class="form-control form-control-md"
                />
                <div
                  *ngIf="
                    FormControls['location'].invalid &&
                    (FormControls['location'].touched || submitted)
                  "
                  class="invalid-feedback"
                >
                  <div *ngIf="FormControls['location'].hasError('required')">
                    * Required.
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <div class="float-right pb-3">
              <a
                class="btn btn-outline-success"
                [class.disabled]="AddFileInwardForm.invalid"
                [style.pointer-events]="
                  AddFileInwardForm.invalid ? 'none' : 'auto'
                "
                (click)="AddFileInwardForm.valid && SaveData()"
              >
                Save
              </a>

              <a class="btn btn-outline-primary" (click)="onSubmit()"> Back </a>

              <!-- <a class="btn btn-sm btn-neutral" (click)="OnReset()">Reset</a> -->

              <a
                class="btn btn-outline-danger"
                [class.disabled]="!isBatchClosable()"
                [style.pointer-events]="!isBatchClosable() ? 'none' : 'auto'"
                (click)="isBatchClosable() && CloseRequest()"
              >
                Batch Close
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--3">
  <p-table
    [paginator]="true"
    [rows]="10"
    [value]="formattedData"
    [autoLayout]="true"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
    [(first)]="first"
    (onPage)="paginate($event)"
    [loading]="loading"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  >
    <ng-template pTemplate="caption">
      <input
        type="text"
        pInputText
        size="50"
        placeholder="Search records"
        (input)="searchTable($event)"
        class="global-search search"
      />
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let col of headerList; let i = index"
          [ngStyle]="i == 0 && { width: '5%' }"
        >
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
      <tr>
        <td *ngFor="let col of headerList; let i = index" style="white-space: nowrap">
 
  <!-- Status Column -->
  <ng-container *ngIf="col.field === 'status'; else nonStatusCell">
    <span class="status-badge" [ngClass]="getStatusClass(car[col.field])">
      {{ car[col.field] }}
    </span>
  </ng-container>
 
  <!-- Other Columns -->
  <ng-template #nonStatusCell>
    <!-- Column index 2: clickable -->
    <div *ngIf="i === 2" style="color: rgb(92, 92, 244); cursor: pointer;" (click)="setCartonNumber(car)">
      {{ car[col.field] }}
    </div>
 
    <!-- All other columns -->
    <div *ngIf="i !== 2">
      {{ car[col.field] }}
    </div>
  </ng-template>
 
</td>
      </tr>
    </ng-template>
  </p-table>
</div>
