<!-- <div class="DataEntryMainContainer"> -->
<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4" style="margin-top: 10px">
            <ol class="breadcrumb breadcrumb-links">
              <li class="breadcrumb-item">
                <a class="text-gray" [routerLink]="'/dashboards/dashboard'">
                  <i class="fas fa-home"></i>
                </a>
              </li>
              <li aria-current="page" class="breadcrumb-item active">
                Quick Search
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <form [formGroup]="ContentSearchForm">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="dataTables_wrapper py-4 checklist-table">
            <div class="row px-2">
              <div class="col-md-4">
                <select name="" id="" class="form-select form-control" formControlName="SearchBy">
                  <option value="0">Search By</option>
                  <option value="1">BATCH ID</option>
                  <option value="2">CARTON NUMBER</option>
                  <!-- <option value="3">DEPARTMENT</option>
                  <option value="4">DOCUMENT TYPE</option>
                  <option value="5">DETAIL DOCUMENT TYPE</option>
                  <option value="6">FILE STATUS</option>
                  <option value="7">ITEM STATUS</option>
                  <option value="8">ITEM LOCATION</option>
                  <option value="9">WAREHOUSE NAME </option> -->
                  <!-- <option value="10">RETENTION PERIOD</option> -->
                </select>
              </div>
              <div class="col-md-4">
                <div class="vsearch input-group input-group-merge serchInput">
                  <input type="text" class="form-control" name="FileNo" formControlName="FileNo"
                    placeholder="Enter values to search" aria-describedby="search-addon" />
                  <div class="input-group-append btndiv" id="search-addon">
                    <button class="btn btn-outline-primary" (click)="GetFilterSearch()" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="d-flex align-items-center justify-content-end py-2 mx-2">
                  <button type="button" class="btn btn-sm btn-neutral btn-close-batch" (click)="OnReset()"
                    style="float: right; text-align: right; padding: 10px 15px">
                    Refresh
                  </button>

                  <button type="button" class="btn btn-sm btn-neutral btn-grey-hover" (click)="downloadFile()"
                    style="float: right; text-align: right; padding: 10px 15px">
                    Download
                  </button>
                </div>
              </div>
            </div>
            <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50, 100]" [(first)]="first"
              (onPage)="paginate($event)" [loading]="loading"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" class="quik_search_table">
              <ng-template pTemplate="caption">
                <div class="d-flex justify-content-between">
                  <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)"
                    class="global-search search" />
                  <p-multiSelect [options]="headerList" [(ngModel)]="selectedColumns"
                    [ngModelOptions]="{ standalone: true }" class="p-multiSelect" optionLabel="header" [filter]="true"
                    placeholder="Select Columns Hide/UnHide" [maxSelectedLabels]="1"
                    selectedItemsLabel="{0} Table columns selected">
                  </p-multiSelect>
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th style="white-space: nowrap; width: 5%">ACTION</th>
                  <th *ngFor="let col of selectedColumns; let i = index" [ngStyle]="i == 0 && { width: '7%' }"
                    style="white-space: nowrap">
                    {{ col.header }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                <tr>
                  <td style="white-space: nowrap; width: 5%">
                    <button type="button" class="btn btn-icon btn-icon-only"
                      [disabled]="(car?.ItemStatus !== 'IN' || !editRights || car?.Status === 'Carton Inv Rejected')"
                      (click)="editBranch(BranchFormPopup, car)">
                      <span class="btn-inner--icon">
                        <i class="fa fa-pen" style="font-size: 15px"></i>
                      </span>
                    </button>

                    <button type="button" class="btn btn-icon btn-icon-only mr-2"
                      [routerLink]="['/search/item-history', car['CartonNo'], 'QuickSearchHistory']"
                      [disabled]="car?.Status === 'Carton Inv Rejected'" title="History">
                      <span class="btn-inner--icon">
                        <i class="fa fa-eye" style="font-size: 15px"></i>
                      </span>
                    </button>

                    <button type="button" style="border: none" class="btn btn-icon btn-icon-only"
                      [disabled]="car.isInsertionAvailable == 0 || car?.Status === 'Carton Inv Rejected'"
                      title="Insertion History">
                      <i class="fa fa-history" style="font-size: 15px"></i>
                    </button>
                  </td>

                  <td *ngFor="let col of selectedColumns" style="white-space: nowrap">
                    <ng-container *ngIf="['status','Status','ItemStatus'].includes(col.field); else normalCell">
                      <ng-container *ngIf="car[col.field]; else emptyStatus">
                        <span class="status-badge" [ngClass]="getStatusClass(car[col.field])">
                          {{ car[col.field] }}
                        </span>
                      </ng-container>
                      <ng-template #emptyStatus>
                        <!-- nothing, or show dash if you prefer -->
                        -
                      </ng-template>
                    </ng-container>

                    <ng-template #normalCell>
                      {{ car[col.field] }}
                    </ng-template>
                  </td>


                </tr>
              </ng-template>

              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [attr.colspan]="selectedColumns.length + 1" class="p-0">
                    <div class="d-flex justify-content-center align-items-center w-100" style="min-height: 200px">
                      <h2 class="text-gray mb-0">Oops!, no data to show</h2>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- </div> -->
<ng-template #CourierEntryPopup let-c="close" let-d="dismiss" let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="mb-0">Lan Details</h3>
          <div class="d-flex gap-2">
            <button type="button" class="btn btn-sm btn-neutral btn-grey-hover" (click)="downloadTableData()">
              Download
            </button>
            <button type="button" class="btn btn-outline-danger" (click)="closeModal()">
              Close
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="dataTables_wrapper w-100">
            <p-table [paginator]="true" [rows]="10" [value]="formattedDataLanDetails" [autoLayout]="true"
              [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50, 100]" (onPage)="paginate1($event)"
              [loading]="loading1" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="caption">
                <input type="text" pInputText size="50" placeholder="Search" (input)="searchTable1($event)"
                  class="global-search search" />
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of headerListLan; let i = index" [ngStyle]="i == 0 && { width: '5%' }">
                    {{ col.header }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                <tr>
                  <td *ngFor="let col of headerListLan">
                    {{ car[col.field] }}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #InwardFormPopup let-c="close" let-d="dismiss" let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div>
        <form [formGroup]="PODForm">
          <div class="">
            <div class="card w-70">
              <div>
                <div class="position-relative row form-group">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card-header">
                      <h3 class="mb-0">POD Details</h3>
                      <p class="text-sm mb-0"></p>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-control-label" for="Registers">Request No</label>
                                <div class="input-group input-group-merge serchInput">
                                  <input type="text" readonly class="form-control" name="request_no"
                                    formControlName="request_no" />
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-control-label" for="lanno">Lan No</label>
                                <div class="input-group input-group-merge serchInput">
                                  <input type="text" readonly class="form-control" name="lanno"
                                    formControlName="lanno" />
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-control-label" for="Vouchers">POD Number</label>
                                <div class="input-group input-group-merge serchInput">
                                  <input type="text" class="form-control" name="pod_number"
                                    formControlName="pod_number" />
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="form-control-label" for="CourierName">
                                  Courier Name
                                </label>
                                <select name="Courier" id="Courier_id" class="form-control"
                                  formControlName="Courier_id">
                                  <option value="0">Courier</option>
                                  <option value="1">DTDC</option>
                                  <option value="2">Blue Dart</option>
                                  <option value="3">FedEx Express</option>
                                  <option value="4">
                                    Professional Couriers
                                  </option>
                                  <option value="5">Aramex India</option>
                                  <option value="6">Delhivery</option>
                                  <option value="7">Ecom Express</option>
                                  <option value="8">Gati</option>
                                  <option value="9">Safe Express</option>
                                  <option value="10">InExpress</option>
                                  <option value="11">
                                    Day express Courier and cargo Services
                                  </option>
                                  <option value="12">
                                    Super Fast Llogistics
                                  </option>
                                  <option value="13">BLAZEFLASH COURIER</option>
                                  <option value="14">APEX INTERNATIONAL</option>
                                  <option value="15">
                                    BLUE EXPRESS COURIER
                                  </option>
                                  <option value="16">
                                    BOMBINO EXPRESS COURIER
                                  </option>
                                  <option value="17">DECAN DART EXPRESS</option>
                                  <option value="18">ELBEX COURIERS</option>
                                  <option value="19">FASTWAY EXPRESS</option>
                                  <option value="20">FIRST FLIGHT</option>
                                  <option value="21">FLYKING COURIER</option>
                                  <option value="22">
                                    FREIGHT NET PVT LTD
                                  </option>
                                  <option value="23">
                                    ICS INTERNATIONAL COURIER
                                  </option>
                                  <option value="24">
                                    INDIAN POSTAL SERVICE
                                  </option>
                                  <option value="25">KABLOOM COURIER</option>
                                  <option value="26">
                                    METRO MARUTI EXPRESS COURIER
                                  </option>
                                  <option value="27">ON TIME COURIER</option>
                                  <option value="28">OVERNITE EXPRESS</option>
                                  <option value="29">
                                    RAJDHANI AIR EXPRESS
                                  </option>
                                  <option value="30">RED EXPRESS</option>
                                  <option value="31">RELIABLE LOGISTICS</option>
                                  <option value="32">
                                    ROYALE INTERNATIONAL
                                  </option>
                                  <option value="33">SM LOGISTICS</option>
                                  <option value="34">SAFELINE LOGISTICS</option>
                                  <option value="35">SAFEXPRESS COURIER</option>
                                  <option value="36">SAR WORLDWIDE</option>
                                  <option value="37">
                                    SHREE BALAJI COURIER
                                  </option>
                                  <option value="38">
                                    SHREE MARUTI COURIER
                                  </option>
                                  <option value="39">
                                    SHREE TIRUPATI COURIER
                                  </option>
                                  <option value="40">SKYPACK COURIER</option>
                                  <option value="41">SPEEDWAY CARGO</option>
                                  <option value="42">ST COURIER</option>
                                  <option value="43">TARGET COURIERS</option>
                                  <option value="44">TCI XPS</option>
                                  <option value="45">TNT EXPRESS</option>
                                  <option value="46">UNIQUE EXPRESS</option>
                                  <option value="47">
                                    UNITED BUSINESS XPRESS (UBX)
                                  </option>
                                  <option value="48">
                                    UNITED FREIGHT SERVICE
                                  </option>
                                  <option value="49">
                                    UNITED PARCEL SERVICE
                                  </option>
                                  <option value="50">
                                    WORLDWIDE EXPRESS COURIERS
                                  </option>
                                  <option value="51">Other</option>
                                  <option value="52">By Hand</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <button class="btn submit_btn" (click)="onUpdate()">
                            Update
                          </button>
                          <button class="btn close_btn" (click)="closmodel()">
                            Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #BranchFormPopup let-c="close" let-d="dismiss" let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <!-- <div class="card"> -->

      <div class="card-header">
        <h3 class="mb-0">Update Carton Location</h3>
        <!-- </div> -->

        <div class="card-body">
          <form [formGroup]="AddWarehouseForm" (ngSubmit)="onSubmit()">
            <!-- Row 1: Batch ID -->
            <!-- <div class="form-row"> -->
            <!-- <div class="col-md-18 ">
              <label class="form-control-label" for="BatchID">Batch ID</label>
            </div>
            <div class="col-md-14">
              <input name="appl" type="text" readonly placeholder="Document Type" type="text" class="form-control"
                formControlName="batchId" />
            </div> -->

            <!-- Row 2: Warehouse -->
            <div class="col-md-18">
              <label class="form-control-label" for="BatchID">Carton No</label>
            </div>

            <div class="col-md-14">
              <input name="appl" type="text" placeholder="Enter Carton No." readonly formControlName="cartonNo"
                type="text" class="form-control form-control-md" />
            </div>
            <div class="col-md-18">
              <label class="form-control-label" for="BatchID">Warehouse</label>
            </div>
            <div class="col-md-14">
              <select formControlName="warehouseId" class="form-control form-select" [ngClass]="{
                'is-invalid':
                  FormControls?.['warehouseId']?.invalid &&
                  (FormControls?.['warehouseId']?.touched || submitted)
              }">
                <option [ngValue]="null" disabled>--Select--</option>
                <option *ngFor="let i of warehouseDropdown" [ngValue]="i.value">
                  {{ i.label }}
                </option>
              </select>

              <div *ngIf="
                  FormControls['warehouseId'].invalid &&
                  (FormControls['warehouseId'].touched || submitted)
                " class="invalid-feedback">
                <div *ngIf="FormControls['warehouseId'].hasError('required')">
                  *Required.
                </div>
              </div>
            </div>

            <!-- Row 3: Carton No -->
            <!-- <div class="row mb-3 align-items-center"> -->
            <!-- <div class="col-md-18 ">
              <label class="form-control-label" for="BatchID">Carton No</label>
            </div>
 
            <div class="col-md-14">
              <input name="appl" type="text" placeholder="Enter Carton No." readonly formControlName="cartonNo"
                type="text" class="form-control form-control-md" />
            </div> -->
            <div class="col-md-18">
              <label class="form-control-label" for="BatchID">Item Location</label>
            </div>
            <div class="col-md-14">
              <input type="text" name="appl" rows="3" formControlName="ItemLcoation" placeholder="Enter Location"
                class="form-control form-control-md" />
            </div>
            <!-- </div> -->
            <!-- </div> -->
            <div class="text-start mt-3">
              <button class="btn btn-outline-success" type="submit">
                Submit
              </button>
              <button type="button" class="btn btn-outline-danger" (click)="OnReset()">
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</ng-template>