<div class="header pb-6">
    <div class="container-fluid">
        <div class=" header-body">
            <div class=" row align-items-center py-4">
                <div class=" col-lg-6 col-7">
                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4" style="margin-top: 10px;">
                        <ol class=" breadcrumb breadcrumb-links">
                            <li class="breadcrumb-item">
                                <a class="text-gray" [routerLink]="'/dashboards/dashboard'">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li aria-current="page" class=" breadcrumb-item active">
                                Warehouse Master
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- <div class="card-header d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm btn-neutral" (click)="addBranch(BranchFormPopup)">
                        <i class="fa fa-plus"></i>
                        Add Warehouse</a>
                </div> -->

                <div class="dataTables_wrapper checklist-table w-115">
                    <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50, 100]" [(first)]="first"
                        (onPage)="paginate($event)" [loading]="loading"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                        <ng-template pTemplate="caption">
                            <div class="d-flex justify-content-between align-items-center">
                                <input type="text" pInputText size="50" placeholder="Search records"
                                    (input)="searchTable($event)" class="global-search" />

                                <div class="col-lg-6 col-5 text-right">
                                    <a class="btn btn-sm btn-neutral btn-close-batch"
                                        (click)="addBranch(BranchFormPopup)">
                                        <i class="fa fa-plus"></i>
                                        Add Warehouse</a>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 10%;">
                                    ACTION
                                </th>
                                <th *ngFor="let col of headerList; let i = index" [ngStyle]="i == 0 && { width: '5%' }">
                                    {{ col.header }}
                                    <p-sortIcon *ngIf="i == 10" [field]="col.field"></p-sortIcon>
                                </th>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                            <tr>
                                <td>
                                    <button [disabled]="!editRights" tooltip="Edit Warehouse" type="button"
                                        style="padding:0 0 5px 4px; border-radius: 50%; background-color: white;"
                                        class="btn btn-icon btn-icon-only"
                                        (click)="editBranch(WarehouseActiveInactive, car)">
                                        <span class="btn-inner--icon"><i class="fa fa-pen"></i></span>
                                    </button>
                                </td>
                                <!-- <td *ngFor="let col of headerList">
                                    {{ car[col.field] }}
                                </td> -->
                                <!-- ------------------------------ -->
                                <td *ngFor="let col of headerList">
                                    <ng-container [ngSwitch]="col.field">

                                        <!-- When field is 'isactive', show colored badge -->
                                        <span *ngSwitchCase="'IsActive'" class="status-pill" [ngClass]="{
            'badge-success': car[col.field] === 'YES',
            'badge-danger': car[col.field] == 'NO'  
          }">
                                            {{ car[col.field] }}
                                        </span>

                                        <!-- Default: render normal text -->
                                        <span *ngSwitchDefault>
                                            {{ car[col.field] }}
                                        </span>

                                    </ng-container>
                                </td>

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td [attr.colspan]="headerList.length + 1" class="p-0">
                                    <div class="d-flex justify-content-center align-items-center w-100"
                                        style="min-height: 200px;">
                                        <h2 class="text-gray mb-0">Oops!, no data to show</h2>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #BranchFormPopup let-c="close" let-d="dismiss" let-modal>
    <div class="modal-content">
        <div class="modal-body p-0">
            <!-- <div class="card"> -->
            <div class="card-header">
                <h3 class="mb-0">Add Warehouse</h3>

                <!-- <h3 class="mb-0">{{ isEditMode ? 'Update Warehouse' : 'Add Warehouse' }}</h3> -->
                <!-- </div> -->

                <div class="card-body">
                    <form [formGroup]="AddWarehouseForm" (ngSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label class="form-control-label" for="Branch">
                                    Warehouse Name
                                </label>
                                <input class="form-control" id="Warehouse Name" formControlName="WarehouseName"
                                    placeholder="Warehouse Name" type="text" [ngClass]="{
                      'is-invalid':
                        FormControls['WarehouseName'].invalid &&
                        (FormControls['WarehouseName'].touched || submitted)
                    }" />
                                <div *ngIf="
                      FormControls['WarehouseName'].invalid &&
                      (FormControls['WarehouseName'].touched || submitted)
                    " class="invalid-feedback">
                                    <div *ngIf="
                        FormControls['WarehouseName'].hasError('required')
                      ">
                                        *Warehouse Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12 mb-3">
                                <label class="form-control-label" for="Branch">
                                    Warehouse Description
                                </label>
                                <input class="form-control" formControlName="WarehouseDescription"
                                    placeholder="Warehouse Description" type="text"
                                    [ngClass]="{'is-invalid':FormControls['WarehouseDescription'].invalid && (FormControls['WarehouseDescription'].touched || submitted)}" />
                                <div *ngIf="FormControls['WarehouseDescription'].invalid && (FormControls['WarehouseDescription'].touched || submitted)"
                                    class="invalid-feedback">
                                    <div *ngIf="FormControls['WarehouseDescription'].hasError('required')">
                                        * Description is required.
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- <div class="form-row">
                            <div class="col-md-12 mb-3" [formGroup]="AddWarehouseForm">
                                <label class="form-control-label d-block" for="IsActive">
                                    Is Active
                                </label>
 
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" id="IsActive" value="Y"
                                            formControlName="IsActive" />
                                        Yes
                                    </label>
                                </div>
 
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" id="isActiveNo" value="N"
                                            formControlName="IsActive" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div> -->
                        <button class="btn btn-outline-success" type="submit" [disabled]="AddWarehouseForm.invalid">
                            Submit
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="OnReset()">
                            Close
                        </button>
                    </form>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</ng-template>




<ng-template #WarehouseActiveInactive let-c="close" let-d="dismiss" let-modal>
    <div class="modal-content">
        <div class="modal-body p-0">
            <!-- <div class="card"> -->
            <div class="card-header">
                <h3 class="mb-0">Update Warehouse Is active</h3>

                <!-- </div> -->

                <div class="card-body">
                    <form [formGroup]="AddWarehouseForm" (ngSubmit)="onSubmitDepartment()">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label class="form-control-label" for="WarehouseName">Warehouse Name</label>
                                <input class="form-control" id="WarehouseName" formControlName="WarehouseName"
                                    placeholder="Warehouse Name" type="text" readonly disabled [ngClass]="{
        'is-invalid':
          FormControls['WarehouseName'].invalid &&
          (FormControls['WarehouseName'].touched || submitted)
      }" />
                                <div *ngIf="
        FormControls['WarehouseName'].invalid &&
        (FormControls['WarehouseName'].touched || submitted)
      " class="invalid-feedback">
                                    <div *ngIf="FormControls['WarehouseName'].hasError('required')">
                                        *Warehouse Name is required.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12 mb-3">
                                <label class="form-control-label" for="WarehouseDescription">Warehouse
                                    Description</label>
                                <input class="form-control" formControlName="WarehouseDescription"
                                    placeholder="Warehouse Description" type="text" readonly disabled [ngClass]="{
        'is-invalid':
          FormControls['WarehouseDescription'].invalid &&
          (FormControls['WarehouseDescription'].touched || submitted)
      }" />
                                <div *ngIf="
        FormControls['WarehouseDescription'].invalid &&
        (FormControls['WarehouseDescription'].touched || submitted)
      " class="invalid-feedback">
                                    <div *ngIf="FormControls['WarehouseDescription'].hasError('required')">
                                        * Description is required.
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="form-row">
                            <div class="col-md-12 mb-3" [formGroup]="AddWarehouseForm">
                                <label class="form-control-label d-block" for="IsActive">
                                    Is Active
                                </label>

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" id="IsActive" value="Y"
                                            formControlName="IsActive" />
                                        Yes
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" id="isActiveNo" value="N"
                                            formControlName="IsActive" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-outline-success" type="submit" [disabled]="AddWarehouseForm.invalid">
                            Submit
                        </button>
                        <button type="button" class="btn btn-outline-danger" (click)="OnReset()">
                            Close
                        </button>
                    </form>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
</ng-template>