.sidenav {
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
}
.dashboard {
  //  background: url('./../../../assets/img/icons/submenu/dashboard1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.Userdashboard {
    //background: url('./../../../assets/img/icons/submenu/user-dashboard1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.space {
    //background: url('./../../../assets/img/icons/submenu/briefcase1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.users {
    //background: url('./../../../assets/img/icons/submenu/user-dashboard1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.roles {
    //background: url('./../../../assets/img/icons/submenu/settings1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.change-password {
    //background: url('./../../../assets/img/icons/submenu/settings1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.template {
    //background: url('./../../../assets/img/icons/submenu/columns1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.EmailLog {
    //background: url('./../../../assets/img/icons/submenu/columns1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.document-type {
    //background: url('./../../../assets/img/icons/submenu/book1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.folder {
    //background: url('./../../../assets/img/icons/submenu/git-branch1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.folder-mapping {
    //background: url('./../../../assets/img/icons/submenu/map1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.cabinet-mapping {
    //background: url('./../../../assets/img/icons/submenu/map1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.subfolder-mapping {
    //background: url('./../../../assets/img/icons/submenu/map1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.view-custom-form {
    //background: url('./../../../assets/img/icons/submenu/layout1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.cabinet {
    //background: url('./../../../assets/img/icons/submenu/briefcase1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.DSConfig {
    //background: url('./../../../assets/img/icons/submenu/briefcase1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.document-type-mapping {
    //background: url('./../../../assets/img/icons/submenu/book1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.sub-folder {
    //background: url('./../../../assets/img/icons/submenu/git-branch1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.template-mapping {
    //background: url('./../../../assets/img/icons/submenu/book-open1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.data-upload {
    //background: url('./../../../assets/img/icons/submenu/upload-cloud1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.file-upload {
    //background: url('./../../../assets/img/icons/submenu/upload1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.sftpupload {
    //background: url('./../../../assets/img/icons/submenu/upload1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.tagging {
    //background: url('./../../../assets/img/icons/submenu/tag1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.Checker {
    //background: url('./../../../assets/img/icons/submenu/tag1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.Maker {
    //background: url('./../../../assets/img/icons/submenu/database1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.advance-search {
    //background: url('./../../../assets/img/icons/submenu/eye1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.quick-search {
    //background: url('./../../../assets/img/icons/submenu/search1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.ASearch {
    //background: url('./../../../assets/img/icons/submenu/search1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.file-storage {
    //background: url('./../../../assets/img/icons/submenu/shopping-bag1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.delete-files {
    //background: url('./../../../assets/img/icons/submenu/pen-tool1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.status {
    //background: url('./../../../assets/img/icons/submenu/pen-tool1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.meta-data {
    //background: url('./../../../assets/img/icons/submenu/file-text1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.logs {
    //background: url('./../../../assets/img/icons/submenu/server1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.DocumentStatus {
    //background: url('./../../../assets/img/icons/submenu/server1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}


.basic-search {
    //background: url('./../../../assets/img/icons/submenu/map1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}



.bulk-downlaod {
    //background: url('./../../../assets/img/icons/submenu/bulk-download1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.globalsearch {
    //background: url('./../../../assets/img/icons/submenu/bulk-download1.svg') no-repeat;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.nav-link {
    color: #2f4050;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.nav-link.active {
    color: #000;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #eee;
}

.child-item-icon {
    display: inline-block;
    position: relative;
    top: 2px;
}

.top-navbar {
    background: transparent !important;
    // top: 80px
}

.topnav-menu-icon {
    margin-right: 4px;
    color: #fff !important;
}

// .ni::before {
//     color: #fff;
// }
// .active-link a, .active-link a i{
//     color: #F9B900 !important;
//     font-weight: 600;
// }

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:hover i{
    color: #C9F5D9 !important;
}
.active-link a, .active-link a i{
    color: #C9F5D9 !important;
}
.dropdown-item:hover, .dropdown-item:focus{
    background: #C9F5D9;
    color: black;
    transition: all .6s ease-in;
}
.nav-item{
    padding: 16px 0;
}
// .navbar .navbar-nav-hover .dropdown-menu.show:hover{
    // opacity: 0;
// }
.dropdown-menu{
    top: 65px;
    border-top: 3px solid #C9F5D9;
    border-radius: 0;
    padding: 0;
    margin: 0;
}
.dropdown:hover .dropdown-menu {
    display: block;
    pointer-events: auto;
    animation: show-navbar-dropdown 0.5s ease forwards;
}
