.menu_btn{
    background: none;
    border: none;
}
::ng-deep .inward-modal-lg .modal-dialog {
  max-width: 1000px !important;
}

.card{
   margin-bottom: 0;
}
input[type=checkbox] {
   width: 25px;
   height: 25px;
}

.btn.btn-sm.btn-neutral {
  background: #fff;
  color: #005984;
  padding: 10px 15px;
  border: 1px solid #005984;
}
 
.btn.btn-sm.btn-neutral:hover {
  color: #005984;
  background-color: #fff;
}
 

body .ui-widget{
    font-size: 12px !important;
  }
  // .btn-icon-only{
  //   width: 1.5rem;
  // }
  // .btn-icon-only i {
  //   font-size:10px
  // }
  .modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}
::ng-deep .data-entry .modal-dialog {
    max-width: 1400px !important;
}

::ng-deep .data-entry .modal .modal-content .card {
    margin: 0;
    padding: 1rem 0;
}

.btn-green-hover:hover {
  background-color: #28a745 !important; // Green
  color: #fff !important;
}

.btn-red-hover:hover {
  background-color: #dc3545 !important; // Red
  color: #fff !important;
}

.inward-modal-lg .modal-dialog {
  max-width: 1300px !important;
}


.status-badge { //gkj 01-08 below css
  display: inline-block;
  padding: 2px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
 
.status-accepted {
  background-color: #4caf50; /* green */
}
 
.status-review {
  background-color: #ffc107; /* yellow */
  color: #333;
}
 
.status-query {
  background-color: #f44336; /* red */
}
 
.status-rejected {
  background-color: #e53935; /* dark red */
}
 
.status-incomplete {
  background-color: #9e9e9e; /* grey */
}
 
.status-offered {
  background-color: #2196f3; /* blue */
}
 
.status-ntu {
  background-color: #ff5252; /* pinkish red */
}
 
.status-default {
  background-color: #607d8b; /* fallback grey-blue */
}
 
.status-ack {
  background-color: #673ab7; /* purple */
}
 
.status-scheduled {
  background-color: #ff9800; /* orange */
}
 
.status-partial-ack {
  background-color: #00bcd4; /* cyan */
}
 