<div class="body">
<div class="login-container">
  <div class="left-panel">
    <div class="logo-area">
       <img >
      <img src="../../../assets/img/brand/Logo2.jpg" alt="Crown Information Management Logo" class="logo" />
      <!-- <h1 class="company-name">CROWN</h1> -->
      <p class="company-tagline">WORK UNCOMPLICATED</p>
      <!-- <p class="slogan"><em>The power of memory</em></p> -->
    </div>
  </div>

 
    <div class="right-panel">
      <div class="top-link">
        <!-- Ruchi -->
        <a href="/#/Login">Sign In</a>
      </div>
      <h2>Reset Password</h2>


      
    <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
  <div class="row input_bg">
    <div class="input-group input-group-icon">
      <input type="email" class="form-control" placeholder="Email ID" formControlName="username"
        [ngClass]="{'is-invalid': f['username'].invalid && (f['username'].touched || submitted)}" />
      <div *ngIf="f['username'].invalid && (f['username'].touched || submitted)" class="invalid-feedback">
        <div *ngIf="f['username'].hasError('required')">* Email is required.</div>
      </div>
    </div>
  </div>
  <button type="submit" class="sign_btn">Send</button>
</form>


    </div>
           

  
</div>
</div>
