.body {
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', sans-serif;
      background: linear-gradient(to bottom right, #e0fdfa, #cbf4ed) !important ;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }


.login-container {
  display: flex;
  width: 800px;
  height: 450px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  margin: auto;
  margin-top: 5%;
  font-family: 'Segoe UI', sans-serif;
}

.right-panel {
  background-color: #ffffff;
  width: 55%;
  padding: 40px 30px;
  position: relative; /* add this */
}

.top-link {
  position: absolute;
  top: 20px;   /* distance from top of right panel */
  right: 20px; /* distance from right of right panel */
}

    .top-link a {
      text-decoration: none;
      color: #003f3b;
      font-weight: 600;
    }

.left-panel {
  background-color: #003f3b;
  color: white;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-image: radial-gradient(#1c5f5b 1px, transparent 1px);
  background-size: 20px 20px;
}



.company-name {
  color: #FFD700 !important;
  font-size: 32px;
  font-weight: 700;
  margin: 5px 0;
}

.company-tagline {
  font-size: 16px;
  margin: 5px 0;
  color: #d1d1d1;
}

.slogan {
  margin-top: 20px;
  font-size: 14px;
  color: #a7b3b2;
}

// .right-panel {
//   background-color: #ffffff;
//   width: 55%;
//   padding: 40px 30px;
// }

.right-panel h2 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #003f3b;
}

/* Form controls */
form label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  color: #003f3b !important;
}

input.form-control {
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  width: 100%;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 6px ;
}

.input-group-append button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: #555;
  cursor: pointer;
}

.input-group-append button:hover {
  color: #000;
  
}

.sign_btn {
  background-color: #003f3b;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sign_btn:hover {
  background-color: #02544e;
}

.errorMsg-feedback {
  font-size: 12px;
  color: red;
  margin-top: -5px;
  margin-bottom: 10px;
}

.login_heading {
  font-size: 13px;
  color: #666;
  text-align: right;
  padding-top: 7px;
}

.login_heading a {
  color: #003f3b;
  text-decoration: none;
  padding-left: 5px;
}

.login_heading a:hover {
  text-decoration: underline;
}


.logo-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-area .logo {
  width: 70%;
  margin-bottom: 10px;
}

.logo {
  width: 60px;
  height: auto;
  margin-bottom: 15px;
  object-fit: contain;
}