<div class="header pb-6">
  <div class="container-fluid">
    <div class=" header-body">
      <div class=" row align-items-center py-4">
        <div class=" col-lg-6 col-7">
          <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4" style="margin-top: 10px;">
            <ol class=" breadcrumb breadcrumb-links">
              <li class="breadcrumb-item">
                <a class="text-gray" [routerLink]="'/dashboards/dashboard'">
                  <i class="fas fa-home"></i>
                </a>
              </li>
              <li aria-current="page" class=" breadcrumb-item active">
               Bulk Destruction
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <form [formGroup]="DataUploadForm">
      <div class=" card">    
        <div class="card-header">
          <div class="position-relative row form-group">
            <div class="col-sm-3">
              <div class="custom-file">
                  <div class="chat-content-scroll-area scrollbar">
                    <div class="col-12 col-sm-12">
                   
      <div class="form-group pt-2">
  <div class="input-group">
    <!-- Choose file button on the LEFT -->
    <div class="input-group-prepend">
      <label class="btn btn-outline-secondary mb-0">
        Choose File
        <input type="file"
               hidden
               name="csvReader"
               id="csvReader"
               accept=".csv"
               (change)="uploadListener($event)">
      </label>
    </div>

    <!-- Filename textbox on the RIGHT -->
    <input type="text"
           class="form-control"
           placeholder="No file chosen"
           [value]="selectedFileName"
           readonly>
  </div>
</div>


                  </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
        <button 
  type="button" 
  class="btn btn-sm btn-neutral btn-close-batch" 
  style="font-size: 15px" 
  (click)="onSubmit(DepartmentFormPopup)"
  [disabled]="!_CSVData || _CSVData.length === 0">
  Upload CSV <i class="fas fa-file-upload"></i>
</button>

<button 
  type="button" 
  class="btn btn-sm btn-neutral btn-grey-hover" 
  style="font-size: 15px" 
  (click)="downloadFile()"
>
  Download CSV <i class="fas fa-file-download"></i>
</button>

              <!-- <label style="color:red; font-size: 14px;">
                Note : File should be
                <span style="color:red; font-size: 20px;"> , </span>  
                seperator  
              </label> -->
            </div>
          </div>  
        </div>
 
                   
          <div class="dataTables_wrapper checklist-table w-100">
             
            <p-table [paginator]="true" [rows]="10" [value]="formattedData" [autoLayout]="true" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50,100]" [(first)]="first" (onPage)="paginate($event)" [loading]="loading" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
              <ng-template pTemplate="caption">
                 
                  <input type="text" pInputText size="50" placeholder="Search records" (input)="searchTable($event)" class="global-search search">
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                     
                      <th *ngFor="let col of headerList; let i = index;"  [ngStyle]="i==0 && {'width': '5%'}">
                          {{col.header}}
                          <!-- <p-sortIcon *ngIf="i==10" [field]="col.field"></p-sortIcon> -->
                      </th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-car let-rowIndex="rowIndex">
                  <tr>
                     
                      <td *ngFor="let col of headerList">
                        {{car[col.field]}}
                      </td>
                 
                  </tr>
              </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                      <td [attr.colspan]="headerList.length + 1" class="p-0">
                        <div class="d-flex justify-content-center align-items-center w-100" style="min-height: 200px;">
                          <h2 class="text-gray mb-0">Oops!, no data to show</h2>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
          </p-table>
                           
 
          </div>
       
       
      </div>
    </form>
    </div>
  </div>
</div>
 
 
<ng-template #DepartmentFormPopup let-c="close" let-d="dismiss" let-modal>
  <div class="modal-content">
    <div class="modal-body p-0">
      <div class=" card">
        <div class=" card-header"><h3 class=" mb-0">BULK DESTRUCTION STATUS</h3></div>
 
        <div class="card-body">
          <form class="needs-validation" novalidate="" >
            <div class="form-row">
 
 
              <div class="col-md-12 mb-3">
                <label class="form-control-label" >
                Total No. of CTN uploaded :
                </label>
                <span><b>{{ totalSuccess + totalFailed }}</b></span>
              </div>
 
              <div class="col-md-12 mb-3">
                <label class="form-control-label" >
                 No. of CTN  successfully updated :
                </label>
                <span><b>{{ totalSuccess }}</b></span>
              </div>
              <div class="col-md-12 mb-3">
                <label class="form-control-label" >
                 Number of failed CTN :
                </label>
                <span><b>{{ totalFailed }}</b></span>
              </div>
 
           
 
 
 
             
 
 
 
            </div>
            <button class=" btn btn-primary" type="submit" (click)="downloadFilestatus('')">
              Okay
            </button>
            <!-- <button type="button" class="btn btn-warning" (click)="OnReset()">Close</button> -->
 
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
 
 